///* ========================================================================
//   COLORS
//   ======================================================================== */

$color-black:       #000;
$color-white:       #fff;

$color-grey:        #e6e6e6;

$color-blue:        #1c2e42;
$color-blue-light:  #75809f;
$color-red:	        #ff1a3e;